@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* 
    circle : background-color: #ff7979;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: #222;
  height: 100vh;
}

.container {
  position: relative;
  background-color: #fafafa;
  height: 200vh;
  margin: 0;
  overflow: hidden;
  transform-origin: top left;
  transition: transform 0.5s linear;
}
.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 50%;
  position: fixed;
  z-index: 2;
  top: -100px;
  left: -100px;
}
.circle i {
  color: #fafafa;
  font-size: 2rem;
  cursor: pointer;
}
.menus{
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 70px;
    padding: 30px 30px;
    left : -200px;
    transition: transform .5s linear;
}
.menusAvant{
    transform: translateX(200px);
    transition: transform 1.5s linear;
}


.menus i{
    padding: 20px 0;
    letter-spacing: 20px;
}
.about{
    padding: 0 20px;
}
.contact{
    padding: 0 40px;
}
.main {
  position: absolute;
  width: 70%;
  margin: 8% 15%;
}
em {
  font-size: 15px;
  color: rgba(51, 51, 51, 0.705);
}
p,
h3 {
  margin: 10px 0;
}
p {
  line-height: 1.5em;
}

img {
  width: 100%;
}
.rotatePage {
  
  transform: rotate(-20deg);
  
}
.circleRotate {
  transform: rotate(-90deg);
  transition: transform 0.5s linear;
}
